In [1]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
import numpy as np

In [2]:
cols = ["BI-RADS", "Age", "Shape", "Margin", "Density", "Severity"]

In [30]:
df = pd.read_csv("../mammographic_masses.csv", names=cols, sep=",")

In [54]:
df = df.replace('\?', np.nan, regex=True)
df = df.astype("int32")
df = df.fillna(0)

In [55]:
df

     BI-RADS  Age  Shape  Margin  Density  Severity
0          5   67      3       5        3         1
1          4   43      1       1        0         1
2          5   58      4       5        3         1
3          4   28      1       1        3         0
4          5   74      1       5        0         1
..       ...  ...    ...     ...      ...       ...
956        4   47      2       1        3         0
957        4   56      4       5        3         1
958        4   64      4       5        3         0
959        5   66      4       5        3         1
960        4   62      3       3        3         0

[961 rows x 6 columns]

In [56]:
from sklearn.model_selection import train_test_split
x = df[['Age']]
y = df['Shape']

X_train, X_test, Y_train, y_test = train_test_split(x, y, test_size=0.3)

In [57]:
gnb = GaussianNB()

In [59]:
y_pred = gnb.fit(X_train, Y_train).predict(X_test)

In [60]:
print("Número de pontos rotulados incorretamente do total %d pontos : %d" 
... % (X_test.shape[0], (y_test != y_pred).sum()))

Número de pontos rotulados incorretamente do total 289 pontos : 156